body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color:  #FFF;
}
h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}
ul, ol {
list-style-type: none;
margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
text-decoration: none;
}
button {
    cursor: pointer;
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
} */
/* Header */
/* .page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
    display: flex;
    justify-content: space-between;
    
}
.main-navigation {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    
}


.address-menu {
display: flex;
gap: 40px;

}




.logo{
        color:  #4D5AE5;
        font-family: Raleway, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        align-items: center;
        margin-right: 76px;

}
 .header-logo .logo-part{
    color:  #2E2F42;
 }
 .menu-link{
    color:  #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}
.studio {
    position: relative;
    color: #404BBF;
    

}

.studio-link::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
}
 .header-address {
     font-style: normal;
 }
.address-link {
    color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

}
.address-link:hover,
.address-link:focus {
 color: #404BBF
} */

/*  Hero image section */
/* .hero-page{
background-color: #2E2F42;
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70) ), 
    url(../images/background-image.jpg);
background-size: cover;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
margin: 0 auto;
}
.hero-main-title {
    color: #FFF;
    text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        
}
.hero-button{
    color:  #FFF;
        background-color: #4D5AE5;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 169px;
        height: 56px;
            padding: 16px 32px;
            gap: 10px;
            border-radius: 4px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.hero-button:hover,
.hero-button:focus
{   background-color: #404BBF;
} */
/* Benefits */

/* .benefits-main{
    padding: 120px 0;
}
.benefits-list{
    display: flex;
       gap: 24px;
}
.benefits-list-item{
width: calc( (100% - 72px) / 4);
}
.icon-benefits-container{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
        border: 1px solid  #8E8F99;
        background:  #F4F4FD;
        margin-bottom: 8px;
}
.benefits-subtitle{
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.benefits-description{
    color:  #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
} */
/*Our team */
/* .team-main{
    padding: 120px 0;
    background-color:  #F4F4FD;
}
.team-title{
    color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
       
        
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
        background: #FFF;
        width: calc((100% -72px)/4);
        border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
            
    } 
    .comtainer-team{
    padding: 32px 0;
    text-align: center;
    }
.team-subtitle{
    color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
               
}
.team-description{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

}
.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
   
}
.social-item{
width: 40px;
height: 40px;
}
.social-link{
    width: 100%;
        height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.social-link:hover,
.social-link:focus {
background-color: #404BBF;
}
.social-icon{
    fill: #F4F4FD;
} */

/*  Our portfolio */
/* .portfolio-main{
    padding: 120px 0;
}
.page-portfolio{
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
}
.portfolio-list {
display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    background:  #FFF;
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-image{
    position: relative;
    overflow: hidden;   
}
.overlay {
    position: absolute;
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay{
    transform: translatey(0);
}

.text{
    color:  #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;

}
.container-portfolio{
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;
        
}
.portfolio-subtitle{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        
}
.portfolio-description{
    color:  #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
} */
/* Footer */
/* .page-footer{
    background-color:  #2E2F42;
    padding: 100px 0;
}
.footer-logo{
margin-bottom: 16px;
display: inline-block;
}
 .footer-logo .logo-part {
color:  #F4F4FD;
text-transform: uppercase;

 }
 .footer-content {
    color:  #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
 }
 .page-footer .container{
    display: flex;
    align-items: baseline;
 }
 .footer-content{
    margin-right: 120px;
 }
 .footer-media{
    display: block;
 }
 .footer-text{
    color:  #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
 }
 .footer-social-list{
    gap: 16px;  
 }
  .link-footer:hover,
  .link-footer:focus {
      background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* Form footer styles */
  /* .form-footer-container{
    margin-left: 80px;
  }
  .form-footer-paragraph{
color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .footer-form{
    display: flex;
    gap: 24px; 
  }
  .footer-label{
    display: flex;
  }
  .footer-input{
    color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: none;
    outline: 0px solid transparent;
    border-radius: 4px;
    background-color: transparent;
        border: 1px solid #FFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .footer-input::placeholder{
color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  }
  .footer-form-button{
    display: flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background:  #4D5AE5;
    color:  #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    cursor: pointer;

  }
.footer-form-icon{
    fill: #FFFFFF;
    margin-left: 16px;
}  */
/* Backdrop styles*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color:  rgba(46, 47, 66, 0.40);
    opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

/* Modal window styles */
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
        background:  #FCFCFC;
    padding: 72px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-close-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
        height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        cursor: pointer;
        padding: 0;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
       

}
.close-button-icon{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus{
background-color:#404BBF;
border: none;
}
.modal-close-button:hover
.close-button-icon,
.modal-close-button:focus .close-button-icon {
 fill: #FFFFFF ;
}
.modal-paragraph{
    width: 360px;
    color:  #2E2F42;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.review-form-container{
margin-bottom: 8px;
}
.form-input-container{
    position: relative;
}
.review-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
        border: 1px solid  rgba(46, 47, 66, 0.40);
        background-color: transparent;
        padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}
    .review-form-input:focus {
border-color: #4D5AE5;
    }
 .review-form-label{
    display: block;
    color:  #8E8F99;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
 }
 .review-form-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .review-form-input:focus + .review-form-input-icon {
fill: #4D5AE5;
 }
 .review-form-comment {
width: 100%;
height: 120px;
padding: 8px 16px;
color: rgba(46, 47, 66, 0.4);
font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
background-color: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: 0px solid transparent;
}
.review-form-comment:focus{
border-color: #4D5AE5;
}
.review-form-comment::placeholder {
color: rgba(46, 47, 66, 0.40);
}
.textarea-container{
    margin-bottom: 16px;
}
.review-form-checkbox-container{
    margin-bottom: 24px;
}
.review-form-checkbox-label{
    width: 338px;
    color: #8E8F99;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
       
}
.review-form-own-checkbox{
display: inline-flex;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.40);
cursor: pointer;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.review-form-checkbox-input:checked + .review-form-checkbox-label > .review-form-own-checkbox  {
background-color: #404BBF;
border-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}
.review-form-checkbox-input:focus +.review-form-checkbox-label>.review-form-own-checkbox{
outline: 1px solid #4D5AE5 ;
}
.form-own-checkbox-icon{
  fill: #f4f4fd;
  opacity: 0; 
}
.review-form-checkbox-input:checked +.review-form-checkbox-label .form-own-checkbox-icon{
opacity: 1;
}

.form-own-checkbox-link{
    color:  #4D5AE5;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
}
.review-form-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color:  #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.review-form-button:hover,
.review-form-button:focus{
background-color: #404BBF;
}






