body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 318px;
    padding: 0 15px;
    margin: 0 auto;
}
/* HEADER MOBILE STYLES */
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: none;
}
.address-menu {
display: none;
}
.logo {
    color:  #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 149px;
}

 .header-logo .logo-part {
     color: #2E2F42;
    }
      
    
    /* MOBILE MENU STYLES */

@media screen and (max-width: 767px) {
.mobile-nav-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 16px 0;
    }

    .mobile-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: #FFF;
        transform: translateX(100%);

    }

    .mobile-menu-container.is-open {
        transform: translateX(0%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-list {
        display: flex;
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        flex-direction: column;
        gap: 40px;
        padding-top: 72px;
        margin-bottom: 168px;
    }


    .mobile-menu-studio-link {
        color: #404BBF;

    }

    .mobile-menu-address-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }

    .mobile-menu-address-link {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .mobile-menu-email-link {
        color: #404BBF;
    }

    .mobile-menu-social-list {
        display: flex;
        gap: 40px;
    }

    .mobile-menu-social-item {
        width: 40px;
        height: 40px;
        margin-bottom: 40px;
    }

    .mobile-menu-social-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-social-icon {
        fill: #F4F4FD;
    }

    .mobile-menu-wrapper {
        position: relative;
    }

    .mobile-menu-button {
        position: absolute;
        top: 24px;
        right: 15px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .mobile-menu-icon {
        fill: #2E2F42;

    }
/* MOBILE MENU STYLES */

}


@media screen and (min-width: 768px) {
.container {
        max-width: 766px;    
    }
/* TABLET HEADER STYLES */
.mobile-nav-btn {
    display: none;
}
.mobile-menu-container{
    display: none;
}
.page-header-container {
    display: flex;
    justify-content: space-between;

}
.main-navigation{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 120px;
}
.menu {
    display: flex;
    gap:40px;
}

.address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}

.studio {
    position: relative;
    color: #404BBF;

}
.studio-link::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
}
 .header-address {
     font-style: normal;}
.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 16px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-link:hover,
.address-link:focus {
    color: #404BBF
}
}
/* DESCTOP STYLES */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;

    }

.address-menu {
    display: flex;
    gap: 40px;
    flex-direction: row;

}
.address-link{
    display: block;
    padding: 24px 0;
}

.logo {
    margin-right: 76px;
}

}
  /* MOBILE HERO STYLES */
  .hero-page {
      background-color: #2E2F42;
      max-width: 320px;
      padding: 72px 0;
      margin: 0 auto;
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),
              rgba(46, 47, 66, 0.70)),
          url(../images/Hero/mobile_1x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-page{
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/Hero/mobile@2x.jpg);
    }
  }

  .hero-main-title {
      color: #FFF;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      max-width: 288px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
  }

  .hero-button {
      color: #FFF;
      background-color: #4D5AE5;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      min-width: 169px;
      height: 56px;
      padding: 16px 32px;
      gap: 10px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  @media screen and (min-width: 768px) {
    .hero-page {
            padding: 112px 0;
            max-width: 768px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/tablet_1x.jpg);
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero-page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/tablet@2x.jpg);
            }
        .hero-main-title {
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            margin-bottom: 36px;
        }
    
        .hero-button:hover,
        .hero-button:focus {
            background-color: #404BBF;
        }
  }
}
  @media screen and (min-width: 1158px) {
    .hero-page {
            max-width: 1440px;
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/desctop_1x.jpg);
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero-page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/desctop@2x.jpg);
            }
        .hero-main-title {
            margin-bottom: 48px;
        }
 
    }
}