body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/* HEADER MOBILE STYLES */
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: none;
}
.address-menu {
display: none;
}
.logo {
    color:  #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
}
.header-logo{
margin-right: 149px;
}
 .header-logo .logo-part {
     color: #2E2F42;
    }
      
    
    /* MOBILE MENU STYLES */

@media screen and (max-width: 767px) {
.mobile-nav-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 16px 0;
    }

    .mobile-menu-container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: #FFF;
        transform: translateX(100%);

    }

    .mobile-menu-container.is-open {
        transform: translateX(0%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu-nav{
        margin-bottom: auto;
    }

    .mobile-menu-list {
        display: flex;
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        flex-direction: column;
        gap: 40px;
    }


    .mobile-menu-studio-link {
        color: #404BBF;

    }

    .mobile-menu-address-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
        font-style: normal;
    }

    .mobile-menu-address-link {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .mobile-menu-email-link {
        color: #404BBF;
    }

    .mobile-menu-social-list {
        display: flex;
        gap: 40px;
    }

    .mobile-menu-social-item {
        width: 40px;
        height: 40px;
        
    }

    .mobile-menu-social-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-social-icon {
        fill: #F4F4FD;
    }

    .mobile-menu-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .mobile-menu-button {
        position: absolute;
        top: 24px;
        right: 15px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .mobile-menu-icon {
        fill: #2E2F42;

    }
/* MOBILE MENU STYLES */

}


@media screen and (min-width: 768px) {
.container {
        max-width: 768px;    
    }
/* TABLET HEADER STYLES */
.mobile-nav-btn {
    display: none;
}
.mobile-menu-container{
    display: none;
}
.page-header-container {
    display: flex;
    justify-content: space-between;

}
.main-navigation{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 120px;
}
.menu {
    display: flex;
    gap:40px;
}

.address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}

.studio {
    position: relative;
    color: #404BBF;

}
.studio-link::after {
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
}
 .header-address {
     font-style: normal;}
.address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 16px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

}
/* DESCTOP STYLES */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;

    }

.address-menu {
    display: flex;
    gap: 40px;
    flex-direction: row;

}
.address-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
        line-height: 1.5;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF
}

.logo {
    margin-right: 76px;
}

}
  /* MOBILE HERO STYLES */
  .hero-page {
      background-color: #2E2F42;
      max-width: 320px;
      padding: 72px 0;
      margin: 0 auto;
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),
              rgba(46, 47, 66, 0.70)),
          url(../images/Hero/mobile_1x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-page{
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/Hero/mobile@2x.jpg);
    }
  }

  .hero-main-title {
      color: #FFF;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      max-width: 288px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
  }

  .hero-button {
      color: #FFF;
      background-color: #4D5AE5;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      min-width: 169px;
      height: 56px;
      padding: 16px 32px;
      gap: 10px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  /* TABLET HERO STYLES */
  @media screen and (min-width: 768px) {
    .hero-page {
            padding: 112px 0;
            max-width: 768px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/tablet_1x.jpg);
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero-page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/tablet@2x.jpg);
            }
        .hero-main-title {
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            margin-bottom: 36px;
        }
    
  }
}
/* DESCTOP HERO STYLES */
  @media screen and (min-width: 1158px) {
    .hero-page {
            max-width: 1440px;
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/desctop_1x.jpg);
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero-page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Hero/desctop@2x.jpg);
            }
        .hero-main-title {
            margin-bottom: 48px;
        }
 
    }
        .hero-button:hover,
        .hero-button:focus {
            background-color: #404BBF;
        }
}
/* MOBILE BENEFITS SECTION */
.icon-benefits-container{
    display: none;
}
.benefits-main {
    padding: 96px 0;
}
.benefits-list {
    display: flex;
    gap: 72px;
}
.benefits-subtitle{
    color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.benefits-description{
    color:  #434455; 
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
@media screen and (max-width: 767px){
.benefits-list {
flex-direction: column;
}
}

/* TABLET BENEFITS SECTION */
 @media screen and (min-width: 768px) {
.benefits-list {
gap: 72px 24px;
}
.benefits-list-item {
 width: calc( ( 100% - 24px ) / 2);
}
.benefits-subtitle{
        text-align: start;
        font-weight: 700;
        line-height: 1.11;
        
}
.benefits-description{
    width: 356px;
}

@media screen and (max-width: 1157px) {
.benefits-list {
        flex-wrap: wrap;
}
 }
}
 
/* DESCTOP BENEFITS SECTION */
@media screen and (min-width: 1158px) {
    .benefits-main {
            padding: 120px 0;
        }

        
.benefits-list-item {
width: calc ((100% - 72px) / 4);
                }
.icon-benefits-container {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
    }
.benefits-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
} 
.benefits-description{
    font-weight: 400;
    width: 264px;
    margin-bottom: 0;
}

} 
    /* OUR TEAM MOBILE STYLES */
        .team-main {
            padding: 96px 0;
            background-color: #F4F4FD;
        }
        .team-title{
            color:  #2E2F42;
                text-align: center;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                    margin-bottom: 72px;
        }
.team-list{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 72px;
    
}

.team-item{
    border-radius: 0px 0px 4px 4px;
        background-color:  #FFF;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.comtainer-team {
    padding: 32px 0;
    text-align: center;
}
.team-subtitle{
    color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.team-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.social-icon {
    fill: #F4F4FD;
}
@media screen and (max-width: 767px) {
.team-list {
        flex-direction: column;
}
}
    /* OUR TEAM TABLET STYLES */
 @media screen and (min-width: 768px) {

        .team-list {
            gap: 64px 24px;
            
        }
     .team-item{
width: calc((100% -24px)/2);
                }
   @media screen and (max-width: 1157px) {
    .team-list {
            flex-wrap: wrap;}
   }
 }
    /* OUR TEAM DESCTOP STYLES */
        @media screen and (min-width: 1158px) {

.team-main {
        padding: 120px 0;
    }
        .team-list {
            gap: 24px;
        }
 .team-item {
    width: calc((100% -72px)/4);
 }

.social-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}
        }
/* OUR PORTFOLIO MOBILE STYLES */
.portfolio-main {
    padding: 96px 0;
}
.page-portfolio {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
   gap: 48px;
}
.container-portfolio {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;

}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.portfolio-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


@media screen and (max-width: 767px) {
.portfolio-list {
flex-direction: column;
}
}
/* OUR PORTFOLIO TABLET STYLES */
@media screen and (min-width: 768px) {
.portfolio-list {
        flex-wrap: wrap;
        gap: 72px 24px;
    }
.portfolio-item {
    width: calc( (100% - 48px) / 2);
}

.portfolio-subtitle {
margin-bottom: 8px;
}

}
 @media screen and (max-width: 1157px) {
     .overlay {
         display: none;
     }

     .text {
         display: none;
     }
 }
/* OUR PORTFOLIO DESCTOP STYLES */
 @media screen and (min-width: 1158px) {

    .portfolio-main {
            padding: 120px 0;
        }
.portfolio-list {
    gap: 48px 24px;

}
     .portfolio-item {
     width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
    .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
                }
.portfolio-image {
position: relative;
overflow: hidden;
         }
    
 .overlay {
position: absolute;
background-color: #4D5AE5;
top: 0;
left: 0;
width: 100%;
 height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
    
 .portfolio-item:hover .overlay {
transform: translatey(0);
         }
    
    .text {
     color: #F4F4FD;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    
      }


 }
 /* FOOTER MOBELE STYLES */

.page-footer {
    background-color: #2E2F42;
    padding: 96px 0;
}
.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo .logo-part {
    color: #F4F4FD;
    text-transform: uppercase;

}
.footer-content {
color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
}
.footer-media {
    display: block;
}

.footer-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    gap: 16px;
}
.form-footer-paragraph {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.footer-input {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #FFF;
    outline: 0px solid transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-button {
    display: flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}
.footer-form-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}
@media screen and (max-width: 767px) {
.footer-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;
    }
 .footer-input{
    width: 100%;
 }
.footer-form-button{
    margin: 0 auto;

}
.footer-media {
    margin-bottom: 72px;
}
.footer-label{
    display: block;
    margin-bottom: 16px;
}
}
 /* FOOTER TABLET STYLES */
@media screen and (min-width: 768px) {

.footer-content {
        width: 264px;
    }
.footer-input{
    width: 264px;
}
.container-section-footer{
    display: flex;
}
.footer-form{
    display: flex;
    gap: 24px;
}
.footer-text{
    text-align: left;
}
.form-footer-paragraph{
text-align: left;
}

}
@media screen and  (max-width: 1157px) {
    
    .container-section-footer {
        max-width: 584px;
       flex-wrap: wrap;
        gap: 72px 24px;
    }

}

 /* FOOTER DESCTOP STYLES */
 @media screen and (min-width: 1158px) {
.page-footer {
        align-items: baseline;
        padding: 100px 0;
    }
    
         .footer-content {
             margin-right: 120px;
         }
    .form-footer-container{
    margin-left: 80px;
  }
.link-footer:hover,
.link-footer:focus {
    background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 }

 /* MOBILE BACKDPOP AND MODAL WINDOW STYLES */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color : #FCFCFC;
    padding: 72px 16px 24px;
    
}
.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
   


}

.close-button-icon {
    fill: #2E2F42;
    
}
.modal-paragraph {
    width: 256px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-container {
    margin-bottom: 8px;
}

.form-input-container {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}
.review-form-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
}
 .review-form-comment {
     width: 100%;
     height: 120px;
     padding: 8px 16px;
     color: rgba(46, 47, 66, 0.4);
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     border-radius: 4px;
     border: 1px solid rgba(46, 47, 66, 0.40);
     background-color: transparent;
     resize: none;
     outline: 0px solid transparent;
 }
 .textarea-container {
     margin-bottom: 16px;
 }

 .review-form-checkbox-container {
     margin-bottom: 24px;
 }

 .review-form-checkbox-label {
    width: 231px;
     color: #8E8F99;
     font-size: 12px; 
     line-height: 1.17;
     letter-spacing: 0.04em;

 }

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    flex-shrink: 0;
    fill: transparent;
}

.review-form-checkbox-input:checked+.review-form-checkbox-label>.review-form-own-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox-input:focus+.review-form-checkbox-label>.review-form-own-checkbox {
    outline: 1px solid #4D5AE5;
}

.form-own-checkbox-icon {
    fill: #f4f4fd;
    opacity: 0;
}

.review-form-checkbox-input:checked+.review-form-checkbox-label .form-own-checkbox-icon {
    opacity: 1;
}

.form-own-checkbox-link {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.review-form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
}
@media screen and (max-width: 767px) {
.review-form-checkbox-label {
        display: flex;
        align-items: center;
}
.review-form-own-checkbox {
flex-shrink: 0;
}
}

 /* TABLET BACKDPOP STYLES */
@media screen and (min-width: 768px) {
.modal{
width: 408px;
min-height: 584px;
padding: 72px 25px 24px 23px;
}
.modal-paragraph {
    width: 360px;
}
.review-form-checkbox-label {
width: 338px;
}
}
 /* DESCTOP BACKDPOP STYLES */
@media screen and (min-width: 768px) {
.modal {
        padding: 72px 24px 24px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.modal-close-button {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-button:hover .close-button-icon,
.modal-close-button:focus .close-button-icon {
    fill: #FFFFFF;
}
.review-form-input {
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    border-color: #4D5AE5;
}
.review-form-input-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .review-form-input:focus+.review-form-input-icon {
     fill: #4D5AE5;
 }
 .review-form-comment {
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .review-form-comment:focus {
     border-color: #4D5AE5;
 }
 .review-form-own-checkbox {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .review-form-button {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .review-form-button:hover,
 .review-form-button:focus {
     background-color: #404BBF;
 }
}